<div id="scroller" data-offset="50">
    <app-navigator></app-navigator>
    <section id="link1" class=" bg-primary">

    </section>
    <section id="link2" class=" bg-secondary">

    </section>
    <section id="link3" class=" bg-success">

    </section>
    <section id="link4" class=" bg-warning">

    </section>
    <section id="link5" class=" bg-info">

    </section>
    <section id="link6" class=" bg-danger">

    </section>
    <section id="link7" class=" bg-dark">

    </section>
    <section id="link8" class=" bg-light">

    </section>
    <section id="link9" class=" bg-white">

    </section>
</div>
